<div ng-include="'views/includes/header.view.client.html'"></div>

<div class="game">
    <div class="container opponent-area">
        <div id="loading">
            <div id="profile" style="width: 300px;">
                <img src="../../../img/profile-ash-loading.png" alt="Pokeball">
                <h3>Loading Trainer Profile.....</h3>
            </div>
        </div>
        <div class="card-deck-opponent text-center thumbnail-2">
            <div class="image" ng-repeat="card in model.player2.cards">
                <img ng-src="{{card.details.imageUrl}}"
                     width="150"
                     height="180"
                     ng-class="{ 'active2' : card == model.player2.current, 'non-active-card': card != model.player2.current}"
                     ng-disabled="model.game.player1Turn || card != model.player2.current"
                     class="player-cards">
            </div>
        </div>
        <hr class="separator">
        <div class="attacks col-md-12" style="display: inline">
            <div class="col-md-4"><h4 style="color: Red">Gym Leader Pokemon</h4></div>
            <div class="col-md-8">
                <h4 style="display: inline"><span ng-class="{'warning': model.activeCard2.details.name}">Attacks</span>
                </h4>
                <div ng-repeat="attack in model.activeCard2.details.attacks" style="display: inline">
                    <button class="btn btn-sm btn-danger" style="display:inline"
                            ng-show="model.isNumber(attack.damage)"
                            ng-click="model.attack2(attack.damage);"
                            ng-disabled="true">
                        {{ attack.name}} ({{attack.damage}})
                    </button>
                </div>
            </div>
        </div>
        <div class="score-opponent">
            <div class="col-md-3 hp-remaining">Remaining HP ({{ model.activeCard2.details.hp }})</div>
            <div class="progress">
                <div class="progress-bar col-md-9" role="progressbar"
                     ng-class="{'progress-bar-danger' : (model.getHp(model.activeCard2.details.hp) <= 30)};"
                     aria-valuenow="{{ model.activeCard2.details.hp }}" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{model.getHp(model.activeCard2.details.hp)}}%">
                </div>
            </div>
        </div>
    </div>

    <div class="container playing-mat text-center">
        <div>
            <div class="col-md-4">
                <button ng-click="model.playAudio()" class="btn btn-success"
                        style="display: inline"> Get Some Inspiration
                </button>
                <button ng-click="model.stopAudio()" class="btn btn-warning"
                        style="display: inline"> Stop Playing
                </button>
            </div>
            <div class="col-md-8">
                <h3 class="text-center players-details"
                    ng-show="(model.activeCard1.details.name && model.activeCard2.details.name)">
                    {{ model.activeCard1.details.name }} v/s <span
                        ng-class="{'warning': model.activeCard2.details.name}">{{ model.activeCard2.details.name }}</span>
                    | <span ng-show="model.game.player1Turn"> Your Turn </span>
                    <span ng-show="!model.game.player1Turn" style="color: indianred">Gym Leader's Turn</span>
                </h3>
                <h3 ng-show="model.winner==1" class="text-center">{{model.activeCard1.details.name}} & Trainer Wins !!</h3>
                <h3 ng-show="model.winner==2" class="text-center" style="color: indianred">
                    {{model.activeCard2.details.name}} & Gym Leader Win !!</h3>
                <h3 ng-show="model.goku==true" ng-class="{'warning': model.activeCard2.details.name}">
                    {{model.computerMessage}}</h3>
            </div>
        </div>

    </div>

    <div class="container player-area text-center">
        <div class="score-player text-center">
            <!--<div class="activeCard2">-->
            <div class="col-md-3 hp-remaining">Remaining HP ({{ model.activeCard1.details.hp }})</div>
            <div class="progress">
                <div class="progress-bar progress-bar-success col-md-9" role="progressbar"
                     ng-class="{'progress-bar-danger' : (model.getHp(model.activeCard1.details.hp) <= 30)};"
                     aria-valuenow="{{ model.activeCard1.details.hp }}" aria-valuemin="0" aria-valuemax="100"
                     style="width:  {{model.getHp(model.activeCard1.details.hp)}}%; height: 20px;">
                </div>
            </div>
            <!--<br>-->
            <!--</div>-->
            <div class="col-md-4"><h4 style="color: #9CDC18;">Your Pokemon</h4></div>
            <div class="attacks col-md-8" style="display: inline">
                <h4 style="display: inline">Attacks </h4>
                <div ng-repeat="attack in model.activeCard1.details.attacks" style="display: inline">
                    <button ng-show="model.isNumber(attack.damage)"
                            ng-click="model.attack1(attack.damage)"
                            class="btn btn-sm btn-danger"
                            ng-disabled="!model.game.player1Turn || model.activeCard1 != model.player1.current || model.winner == 1">
                        {{ attack.name}} ({{attack.damage}})
                    </button>
                </div>
            </div>
        </div>
        <hr class="separator">
        <div class="card-deck-player text-center thumbnail-2">
            <div class="image" ng-repeat="card in model.player1.cards">
                <img ng-src="{{card.details.imageUrl}}" width="150" height="180" class="image"
                     ng-class="{ 'active1' : card == model.player1.current, 'non-active-card': card != model.player1.current}"
                     ng-disabled="!model.game.player1Turn || card != model.player1.current">
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">-->
    <!--Launch demo modal-->
    <!--</button>-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title w-100" id="myModalLabel">Pokémon TCG : Before you Start Playing..</h3>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <h5 class="text-center ps-info-game"><i>Wait for the game to load...</i></h5>
                    <h4 class="text-center ps-info-game"><u>Rules of the Game</u></h4>
                    <hr class="separator">
                    <h4>The screen is divided into two parts:</h4>
                    <h4>The top half represents Gym Leader's Pokemons and its attacks. The bottom half of the screen
                        belongs to you and your pokemons.</h4>
                    <hr class="separator">
                    <ul type="i" class="text-center">
                        <li><b>Attack!</b> - Select the best possible attack you can</li>
                        <li><b>Wait!</b> - Wait for "Gym Leader" to finish its attack</li>
                        <li><b>HP Matters!</b> - Keep an eye on your Pokemon's HP (Hit Points)</li>
                        <li>If you kill your opponent's pokemon, you win!</li>
                        <li>Click "Start Game" to begin playing</li>
                    </ul>
                    <hr class="separator">
                    <h5 class="text-center ps-info-game"><b>BEST VIEWED ON A DESKTOP COMPUTER</b></h5>
                    <h5 class="text-center ps-info-game"><b>DO NOT REFRESH THE PAGE IN THE MIDDLE OF THE GAME</b></h5>
                    <h5 class="text-center ps-info-game"><b>CHANGE ZOOM LEVEL TO 80% FOR BETTER EXPERIENCE</b></h5>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="model.startGame()">Start Game</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Live preview-->

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title w-100" id="myModalTitle">Pokémon TCG : Game Over!!!!</h3>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <h4 class="text-center"><u><span ng-show="model.winner == 2">Gym Leader Wins !</span></u>
                        <span ng-show="model.winner == 1">You Win!</span></h4>
                    <hr class="separator">
                    <div class="text-center" ng-show="model.winner == 1">
                        <img ng-src="{{model.url}}" style="width: 150px; height: 200px;">
                        <h4>For being a great player, this Pokemon has been added to your collection along with 20 Bonus points!!!</h4>
                    </div>
                    <hr class="separator">
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="model.startNewGame()">Play New Game</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
