<!-- Navigation -->
<!--suppress ALL -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a ng-if="model.location.path() == '/'" href="#page-top"
               class="navbar-brand" page-scroll="">
                <img src="../../img/pokeball.svg" style="display: inline"/>
                <span>Poképedia</span>
            </a>
            <a ng-if="model.location.path() != '/'" href="/" class="navbar-brand">
                <img src="../../img/pokeball.svg" style="display: inline"/>
                <span>Poképedia</span>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a ng-if="model.location.path() == '/'" href="#page-top">
                        Home
                    </a>
                </li>
                <li>
                    <a ng-if="model.location.path() != '/'" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a ng-show="model.location.path() == '/'" href="#about" page-scroll="">
                        About
                    </a>
                </li>
                <li>
                    <a ng-if="model.location.path() == '/'" href="#pokemon" page-scroll="">
                        Game
                    </a>
                    <a ng-if="model.location.path() != '/'" href="/#!/game">
                        Game
                    </a>
                </li>
                <li>
                    <a ng-if="model.location.path() == '/'" href="#pokedex" page-scroll="">
                        Pokédex
                    </a>
                    <a ng-if="model.location.path() != '/'" href="/#!/pokedex">
                        Pokédex
                    </a>
                </li>
                <li>
                    <a ng-show="model.location.path() == '/'" href="#leaderboard" page-scroll="">
                        LeaderBoard
                    </a>
                </li>
                <li ng-show="model.location.path() != '/' && model.user && model.isAdmin()">
                    <a href="/#!/admin">Admin</a>
                </li>

                <li ng-show="!model.user" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Play<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/#!/login/">Login</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/#!/register/">Sign Up</a></li>
                    </ul>
                </li>
                <li ng-show="model.user" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        {{model.user.username}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/#!/{{model.userPath}}">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="model.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
