<div ng-include="'views/includes/header.view.client.html'"></div>

<div id="intro" class="gym">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1><span class="brand-heading">Poképedia</span></h1>
                    <div class="intro-text" style="height: 20px;">
                        <span id="vader" class="theatre-text" theater=""></span>
                    </div>
                    <a href="#about" class="btn btn-default" page-scroll>Gotta Catch 'Em All</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div id="about" class="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Poképedia</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <img src="../../../img/pika-card.png" class="img-responsive">
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="about-text">
                    <h4>What is Poképedia ?</h4>

                    <p><b><i>Poképedia</i></b> is my attempt to emulate the hugely popular Pokémon Universe on the
                        web. The plan includes creation of the game cum website which simulates all things Pokémon like
                        Pokédex module which emulates the Pokédex (a detailed listings for Pokémon) from the game,
                        Gym battles and a leaderboard for the users of the system.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pokemon" class="text-center pokemon">
    <div class="container">
        <div class="section-title center">
            <h2>Pokémon Trading Card Game (TCG)</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pokemon-text">
                    <h4 style="color: yellow">Play the Game!</h4>
                    <p>
                        <b><i>Pokémon Trading Card Game</i></b>
                        is my attempt to create a web version of the hugely popular Pokémon Trading Card Game.</p>
                    <p>The basic game play remains similar to the original game. Players assume the role of a Pokémon
                        trainer and use their Pokémon to battle their opponents.</p>
                    <p>
                        A Pokémon gets knocked off if it's HP falls below 0.</p>
                    <p>The player wins when the opponents Pokémon is knocked off. A pokemon is gifted to the
                        winner
                        and added to his profile.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pokedex" style="color:black;" class="works">
    <div class="container"> <!-- Container -->
        <div class="section-title text-center center">
            <h2>Pokédex</h2>
            <hr>
            <div class="clearfix"></div>
            <p>Find everything about every Pokemon</p>
        </div>
        <div class="row">
            <div class="col-md-4"><img src="../../../img/pokedex.gif" class="img-responsive"></div>
            <div class="col-md-6 col-md-offset-1">
                <div class="about-text">
                    <h4>What is Pokédex?</h4>
                    <p><b><i>Pokédex</i></b> The Pokédex is an electronic device designed to catalogue and provide
                        information regarding the various species of Pokémon featured in the Pokémon video game, anime
                        and manga series.
                    </p>
                    <p>The name Pokédex is a neologism including "Pokémon" (which itself is a portmanteau of "pocket"
                        and "monster") and "index". The Japanese name is simply "Pokémon Encyclopedia", and it can
                        feature every Pokémon on it,
                        depending on the Pokédex.</p>
                    <p>Every Pokémon trainer has a Pokédex for identifying Pokémons they come across in their quest to
                        catch 'em all.</p>
                </div>
                <a href="/#!/pokedex" class="btn btn-default">Explore Pokédex</a>
            </div>
        </div>
    </div>
</div>

<div id="leaderboard" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>LeaderBoard</h2>
            <hr>
            <p>See who's on the quest to Catch 'Em All</p>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="list-group">
                    <li class="list-group-item leaderboard-line" style="background:gray">
                        <div class="row">
                            <div class="col-xs-3">Trainer</div>
                            <div class="col-xs-3">Games Played</div>
                            <div class="col-xs-3">Games Won</div>
                            <div class="col-xs-3">Points</div>
                        </div>
                    </li>
                    <li class="list-group-item leaderboard-line"
                        ng-repeat="score in model.scores | orderBy:['-winPercentage', '-points'] | limitTo:5">
                        <div class="row">
                            <div class="col-xs-3">{{score.username}}</div>
                            <div class="col-xs-3">{{score.played}}</div>
                            <div class="col-xs-3">{{score.won}}</div>
                            <div class="col-xs-3">{{score.points}}</div>

                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title w-100" id="myModalLabel">Rules of the Game</h3>
            </div>
            <!--Body-->
            <div class="modal-body">
                <h4>The screen is divided into two parts:</h4>
                <h4>The top half represents Gym Leader's Pokemons and its attacks. The bottom half of the screen
                    belongs to you and your pokemons.</h4>
                <hr class="separator">
                <ul type="i" class="text-center">
                    <li><b>Attack!</b> - Select the best possible attack you can</li>
                    <li><b>Wait!</b> - Wait for "Gym Leader" to finish its attack</li>
                    <li><b>HP Matters!</b> - Keep an eye on your Pokemon's HP (Hit Points)</li>
                    <li>If you kill your opponent's pokemon, you win!</li>
                    <li>Click "Start Game" to begin playing</li>
                </ul>
                <hr class="separator">
                <ul>
                    <li class="text-center ps-info-game"><b>BEST VIEWED ON A DESKTOP COMPUTER</b></li>
                    <li class="text-center ps-info-game"><b>DO NOT REFRESH THE PAGE IN THE MIDDLE OF THE GAME</b></li>
                    <li class="text-center ps-info-game"><b>CHANGE ZOOM LEVEL TO 80% FOR BETTER EXPERIENCE</b></li>
                </ul>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!--/.Content-->
</div>