<div ng-include="'views/includes/header.view.client.html'"></div>

<div class="wrapper userProfile container profile-page">
    <div id="loading">
        <div id="profile" style="width: 300px;">
            <img src="../../../img/profile-ash-loading.png" alt="Pokeball">
            <h3>Loading Gym Leader Profile.....</h3>
        </div>
    </div>

    <div class="row">
        <div class="userDetails center col-sm-4 col-xs-12">
            <img ng-src="../../../img/{{model.user.username}}.png">
        </div>
        <div class="userDetails center col-sm-8 col-xs-12">
            <h1>{{model.user.firstName}}</h1>
            <h3>Type: {{model.user.type}}</h3>
            <h3>Badge: {{model.user.badge}}</h3>
            <h3>Region: {{model.user.region}}</h3>
            <button class="btn btn-default" ng-click="model.update()">Update Profile</button>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <div ng-show="model.success" class="alert" role="alert">
                {{model.success}}
            </div>
        </div>
    </div>
</div>

<hr class="separator">

<div class="container">
    <div class="userLikes col-md-12">
        <h1>Pokémons</h1>

        <div class="row">
            <div ng-repeat="pet in model.user.pets" class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <a ng-click="model.getMoreInfo(pet.pokedex_no)">
                        <img ng-src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/{{model.padToThree(pet.pokedex_no)}}.png"
                             style="height: 320px; width: 100%; display: block">
                    </a>
                    <div class="caption">
                        <h3>Name: {{pet.name}}</h3>
                        <h4>Pokedex: {{pet.pokedex_no}}</h4>
                        <h4>Experience: {{pet.experience}}</h4>
                        <h4>Level: {{pet.level}}</h4>
                        <h4>Is Primary: {{pet.is_primary}}</h4>
                        <button class="btn btn-default"
                                ng-click="model.makePrimary(pet.id)">
                            Make Primary
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="separator">

<div id="leaderboard" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Battle Statistics</h2>
            <hr>
            <p>See who's on the quest to beat you!</p>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="list-group">
                    <li class="list-group-item leaderboard-line" style="background:gray">
                        <div class="row">
                            <div class="col-xs-4">Opposition</div>
                            <div class="col-xs-4">Result</div>
                            <div class="col-xs-4">Date</div>
                        </div>
                    </li>
                    <li class="list-group-item leaderboard-line"
                        ng-repeat="battle in model.user.battles">
                        <div class="row">
                            <div class="col-xs-4">{{battle.trainer.firstName}}&nbsp;{{battle.trainer.lastName}}</div>
                            <div class="col-xs-4">{{battle.trainerWon ? "Lost" : "Won"}}</div>
                            <div class="col-xs-4">{{battle.createdDate | date : format : 'mediumDate'}}</div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
