<!--suppress ALL -->
<div ng-include="'views/includes/header.view.client.html'"></div>

<div class="wrapper container login-page">
    <form name="loginForm" novalidate>
        <h1 class="text-center">Login</h1>
        <hr>
        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input ng-model="user.username" type="text"
                   class="form-control" id="username" name="username"
                   placeholder="Username" required/>
            <div ng-show="loginForm.$submitted && loginForm.username.$invalid"
                 class="error">Username is required
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input ng-model="user.password" type="password"
                   class="form-control" id="password" name="password"
                   placeholder="Password" required/>
            <div ng-show="loginForm.password.$invalid && loginForm.$submitted"
                 class="error">Password is required
            </div>
        </div>
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-xs-12 local">
                    <button type="submit" class="btn btn-block btn-success"
                            ng-click="loginForm.$valid && model.login(user)">
                        Login
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-block btn-warning" href="#!/register">
                Register
            </a>
        </div>
    </form>
</div>

